apiVersion: v1
kind: PersistentVolumeClain
metadata:
  name: mysql-dados
spec: 
  accessModes:
    - ReadWriteOnce
  resources:
    request:
      storage: 0.1Gi
    storageClassName: standart-two

---

apiVersion: apps/v1
kind: Deployment
metadata: 
  name: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      container:
      - image: pedro/projeto-database:1.0
        args:
        - "--ignore-db-dir=lost+found"
        imagePullPolicy: Always
        name: mysql
        ports:
        - containerPort: 3306
          name: mysql
        
        volumeMounts:
        - name: mysql-dados
          mountPath: /var/lib/mysql/
      volumes:
      - name: mysql-dados
        persistentVolumeClain:
          claimName: mysql-dados

---

apiVersion: apps/vi
kind: Deployment
metadata:
  name: php
  labels:
    app: php
spec:
  replicas: 3
  selector:
    matchLabels:
      app: php
  template:
    metadata:
      labels:
        app: php
    spec:
      containers:
      - name: php
        image: pedro/projeto-backend:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 80